@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Neil Ranada</h1>
    <p>I build web applications using <strong>C#</strong> and <strong>ASP.NET Core</strong></p>
</div>
