@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-start">
    <h1 class="display-4">Neil Ranada</h1>
    <p>I build web applications using <strong>C#</strong> and <strong>ASP.NET Core</strong></p>
</div>
<div class="text-start">
    <p>Los Angeles, CA</p>
    <p>github.com/ranada</p>
    <p>neil.ranada@gmail.com</p>
    <p>linkedin.com/in/neilranada</p>
</div>
<div>
    <h2>Projects</h2>
</div>
